
body {
    color: #1e306e;
    margin:0 auto;
    padding:0;
    font-family: 'Roboto',sans-serif;
}
a{
    color:inherit;
    text-decoration:none;
}
header{
   background-image:url("csper.jpg") ; 
    background-color: #30373b;
    text-align: center;
    padding:5px;
    height:450px;
    width: 100%;
}
ul {
     list-style: none;
}
 #nav_bar{
     float: right;
   
   
    
 }
 #nav_bar li {
     display:inline-block;
     padding:8px;
 }
 #nav_bar #sign_in{
   background:#4887ef;
   margin-right: 25px;
   
   padding:7px 15px;
   border-radius: 3px;
   font-weight: bold;
   float: right;
   
 }
 .nav-links {
     columns: #404040;
    
     
 }
 li.nav-links a:hover{
     text-decoration: underline;
 }
 #sign_in:hover{
     box-shadow: 1px 1px 5px #999;
 }
 #sign_in{
     color: #fff;
 }
 .form {  margin-left: 300px;
   margin-top: 10px;
     
     text-align: center;
     
 }
   
     
 
 #form-search{
     width:450px;
     line-height: 32px;
     padding: 20px 10px;
 }
 .form #form-search{
     padding:0 8px;
     
 }
 .buttons{
     text-align: center;
     padding-top: 30px;
     margin-bottom: 100px;
 }

.logo{
    padding:5px;
    width:150px;
    height:40px;
    display:block;
    margin-left:auto;
    margin-right:auto;

}
p.top-liner {
    font-size: 15px;

}
header a.main-button{
    margin-top:80px ;
    padding:15px;
    border: radius 0.25rem;
    background-color: #1e306e;
    color:white;
    display:inline-block;
}
header p.footer-text{
    padding-top:150px;
    display:block;
}
.testimonials{
    text-align: center;
}
.reviews{
    display: inline-block;
    width: 350px;
    height: 250px;
}

footer{
    background-color: #30373b;
    color:white;
    clear:both;
    text-align: center;
    padding: 15px;
    padding-bottom: 0;
    width:100%;
    bottom:0;
    border-top:solid 2px #e4e4e4;

}

.xyz{text-align: center;}
footer ul li {
    display: inline;
    color:#666666;
    font-size: 14px;
    padding:13px;
}
footer ul{
    float:left;
    padding:1px;
}
footer ul a:hover{
    text-decoration: underline;
}
.footer-right{
    float:right;
}
@media screen and (max-width:565px){
li.nav-links a{
   display:none;
}
.buttons{
   display:none;
}
#form-search{
   width:80%
}
footer{
   position: absolute;
   bottom:0;
   width:100%;
   height: 60px;
}
footer ul{
   float:none;
   padding-bottom:2px
}
.footer-left{
   text-align: center;
   margin:auto;
   padding-top: 10px;
}
.footer-right{
   float:none;
   text-align: center;
}


}